<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LDETheme</key>
	<dict>
		<key>highlighting</key>
		<dict>
			<key>keyword</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>90</integer>
					<key>green</key>
					<integer>220</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>110</integer>
					<key>green</key>
					<integer>240</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>comment</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>120</integer>
					<key>green</key>
					<integer>150</integer>
					<key>blue</key>
					<integer>170</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>100</integer>
					<key>green</key>
					<integer>130</integer>
					<key>blue</key>
					<integer>150</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>string</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>160</integer>
					<key>green</key>
					<integer>225</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>175</integer>
					<key>green</key>
					<integer>235</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>number</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>255</integer>
					<key>green</key>
					<integer>240</integer>
					<key>blue</key>
					<integer>120</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>240</integer>
					<key>green</key>
					<integer>220</integer>
					<key>blue</key>
					<integer>100</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>regex</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>255</integer>
					<key>green</key>
					<integer>145</integer>
					<key>blue</key>
					<integer>110</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>255</integer>
					<key>green</key>
					<integer>160</integer>
					<key>blue</key>
					<integer>125</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>function</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>0</integer>
					<key>green</key>
					<integer>200</integer>
					<key>blue</key>
					<integer>170</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>0</integer>
					<key>green</key>
					<integer>220</integer>
					<key>blue</key>
					<integer>190</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>operator</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>230</integer>
					<key>green</key>
					<integer>245</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>200</integer>
					<key>green</key>
					<integer>215</integer>
					<key>blue</key>
					<integer>225</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>property</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>140</integer>
					<key>green</key>
					<integer>170</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>130</integer>
					<key>green</key>
					<integer>160</integer>
					<key>blue</key>
					<integer>245</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>punctuation</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>100</integer>
					<key>green</key>
					<integer>150</integer>
					<key>blue</key>
					<integer>200</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>80</integer>
					<key>green</key>
					<integer>130</integer>
					<key>blue</key>
					<integer>180</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>directive</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>255</integer>
					<key>green</key>
					<integer>180</integer>
					<key>blue</key>
					<integer>80</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>255</integer>
					<key>green</key>
					<integer>200</integer>
					<key>blue</key>
					<integer>100</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>type</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>0</integer>
					<key>green</key>
					<integer>230</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>0</integer>
					<key>green</key>
					<integer>210</integer>
					<key>blue</key>
					<integer>235</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>constant</key>
			<dict>
				<key>light</key>
				<dict>
					<key>red</key>
					<integer>180</integer>
					<key>green</key>
					<integer>130</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
				<key>dark</key>
				<dict>
					<key>red</key>
					<integer>200</integer>
					<key>green</key>
					<integer>160</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>alpha</key>
					<integer>10</integer>
				</dict>
			</dict>
		</dict>
		<key>text</key>
		<dict>
			<key>light</key>
			<dict>
				<key>red</key>
				<integer>230</integer>
				<key>green</key>
				<integer>245</integer>
				<key>blue</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>dark</key>
			<dict>
				<key>red</key>
				<integer>215</integer>
				<key>green</key>
				<integer>230</integer>
				<key>blue</key>
				<integer>245</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>background</key>
		<dict>
			<key>light</key>
			<dict>
				<key>red</key>
				<integer>20</integer>
				<key>green</key>
				<integer>30</integer>
				<key>blue</key>
				<integer>60</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>dark</key>
			<dict>
				<key>red</key>
				<integer>5</integer>
				<key>green</key>
				<integer>10</integer>
				<key>blue</key>
				<integer>25</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>gutterBackground</key>
		<dict>
			<key>light</key>
			<dict>
				<key>red</key>
				<integer>30</integer>
				<key>green</key>
				<integer>45</integer>
				<key>blue</key>
				<integer>75</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>dark</key>
			<dict>
				<key>red</key>
				<integer>15</integer>
				<key>green</key>
				<integer>25</integer>
				<key>blue</key>
				<integer>40</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>gutterHairline</key>
		<dict>
			<key>light</key>
			<dict>
				<key>red</key>
				<integer>70</integer>
				<key>green</key>
				<integer>90</integer>
				<key>blue</key>
				<integer>130</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>dark</key>
			<dict>
				<key>red</key>
				<integer>55</integer>
				<key>green</key>
				<integer>70</integer>
				<key>blue</key>
				<integer>100</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>lineNumber</key>
		<dict>
			<key>light</key>
			<dict>
				<key>red</key>
				<integer>130</integer>
				<key>green</key>
				<integer>155</integer>
				<key>blue</key>
				<integer>190</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>dark</key>
			<dict>
				<key>red</key>
				<integer>110</integer>
				<key>green</key>
				<integer>130</integer>
				<key>blue</key>
				<integer>160</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>selectedLineBackground</key>
		<dict>
			<key>light</key>
			<dict>
				<key>red</key>
				<integer>35</integer>
				<key>green</key>
				<integer>55</integer>
				<key>blue</key>
				<integer>90</integer>
				<key>alpha</key>
				<integer>8</integer>
			</dict>
			<key>dark</key>
			<dict>
				<key>red</key>
				<integer>25</integer>
				<key>green</key>
				<integer>45</integer>
				<key>blue</key>
				<integer>70</integer>
				<key>alpha</key>
				<integer>8</integer>
			</dict>
		</dict>
		<key>selectedLinesLineNumber</key>
		<dict>
			<key>light</key>
			<dict>
				<key>red</key>
				<integer>90</integer>
				<key>green</key>
				<integer>220</integer>
				<key>blue</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>dark</key>
			<dict>
				<key>red</key>
				<integer>110</integer>
				<key>green</key>
				<integer>240</integer>
				<key>blue</key>
				<integer>255</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>selectedLinesGutterBackground</key>
		<dict>
			<key>light</key>
			<dict>
				<key>red</key>
				<integer>40</integer>
				<key>green</key>
				<integer>60</integer>
				<key>blue</key>
				<integer>95</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>dark</key>
			<dict>
				<key>red</key>
				<integer>20</integer>
				<key>green</key>
				<integer>35</integer>
				<key>blue</key>
				<integer>65</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>pageGuideHairline</key>
		<dict>
			<key>light</key>
			<dict>
				<key>red</key>
				<integer>70</integer>
				<key>green</key>
				<integer>90</integer>
				<key>blue</key>
				<integer>130</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>dark</key>
			<dict>
				<key>red</key>
				<integer>55</integer>
				<key>green</key>
				<integer>70</integer>
				<key>blue</key>
				<integer>100</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>pageGuideBackground</key>
		<dict>
			<key>light</key>
			<dict>
				<key>red</key>
				<integer>25</integer>
				<key>green</key>
				<integer>40</integer>
				<key>blue</key>
				<integer>75</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>dark</key>
			<dict>
				<key>red</key>
				<integer>15</integer>
				<key>green</key>
				<integer>25</integer>
				<key>blue</key>
				<integer>55</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
		<key>markedTextBackground</key>
		<dict>
			<key>light</key>
			<dict>
				<key>red</key>
				<integer>45</integer>
				<key>green</key>
				<integer>70</integer>
				<key>blue</key>
				<integer>110</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
			<key>dark</key>
			<dict>
				<key>red</key>
				<integer>30</integer>
				<key>green</key>
				<integer>55</integer>
				<key>blue</key>
				<integer>95</integer>
				<key>alpha</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
