<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LDETheme</key>
	<dict>
		<key>app</key>
		<dict>
			<key>appLabel</key>
			<dict>
				<key>dark</key>
				<string>237:224:212</string>
				<key>light</key>
				<string>62:47:35</string>
			</dict>
			<key>appTableCellBackground</key>
			<dict>
				<key>dark</key>
				<string>40:36:32</string>
				<key>light</key>
				<string>245:238:225</string>
			</dict>
			<key>appTableViewBackground</key>
			<dict>
				<key>dark</key>
				<string>30:28:25</string>
				<key>light</key>
				<string>252:248:240</string>
			</dict>
		</dict>
		<key>background</key>
		<dict>
			<key>dark</key>
			<string>30:28:25</string>
			<key>light</key>
			<string>252:248:240</string>
		</dict>
		<key>gutterBackground</key>
		<dict>
			<key>dark</key>
			<string>25:23:20</string>
			<key>light</key>
			<string>245:240:230</string>
		</dict>
		<key>gutterHairline</key>
		<dict>
			<key>dark</key>
			<string>50:45:40</string>
			<key>light</key>
			<string>220:210:195</string>
		</dict>
		<key>highlighting</key>
		<dict>
			<key>attribute</key>
			<dict>
				<key>dark</key>
				<string>200:145:100</string>
				<key>light</key>
				<string>160:100:60</string>
			</dict>
			<key>comment</key>
			<dict>
				<key>dark</key>
				<string>120:140:100</string>
				<key>light</key>
				<string>130:140:115</string>
			</dict>
			<key>constant</key>
			<dict>
				<key>dark</key>
				<string>229:128:128</string>
				<key>light</key>
				<string>185:95:95</string>
			</dict>
			<key>directive</key>
			<dict>
				<key>dark</key>
				<string>224:130:108</string>
				<key>light</key>
				<string>170:85:65</string>
			</dict>
			<key>function</key>
			<dict>
				<key>dark</key>
				<string>97:175:180</string>
				<key>light</key>
				<string>70:130:140</string>
			</dict>
			<key>include</key>
			<dict>
				<key>dark</key>
				<string>224:130:108</string>
				<key>light</key>
				<string>170:85:65</string>
			</dict>
			<key>keyword</key>
			<dict>
				<key>dark</key>
				<string>199:146:184</string>
				<key>light</key>
				<string>156:82:139</string>
			</dict>
			<key>method</key>
			<dict>
				<key>dark</key>
				<string>97:175:180</string>
				<key>light</key>
				<string>70:130:140</string>
			</dict>
			<key>namespace</key>
			<dict>
				<key>dark</key>
				<string>130:195:170</string>
				<key>light</key>
				<string>85:130:110</string>
			</dict>
			<key>number</key>
			<dict>
				<key>dark</key>
				<string>209:154:102</string>
				<key>light</key>
				<string>180:110:60</string>
			</dict>
			<key>operator</key>
			<dict>
				<key>dark</key>
				<string>190:175:160</string>
				<key>light</key>
				<string>90:75:60</string>
			</dict>
			<key>parameter</key>
			<dict>
				<key>dark</key>
				<string>190:160:175</string>
				<key>light</key>
				<string>130:95:115</string>
			</dict>
			<key>property</key>
			<dict>
				<key>dark</key>
				<string>224:175:140</string>
				<key>light</key>
				<string>140:100:75</string>
			</dict>
			<key>punctuation</key>
			<dict>
				<key>dark</key>
				<string>170:155:140</string>
				<key>light</key>
				<string>100:85:70</string>
			</dict>
			<key>regex</key>
			<dict>
				<key>dark</key>
				<string>229:152:102</string>
				<key>light</key>
				<string>200:100:50</string>
			</dict>
			<key>string</key>
			<dict>
				<key>dark</key>
				<string>152:195:121</string>
				<key>light</key>
				<string>80:120:80</string>
			</dict>
			<key>type</key>
			<dict>
				<key>dark</key>
				<string>130:195:170</string>
				<key>light</key>
				<string>85:130:110</string>
			</dict>
			<key>variable</key>
			<dict>
				<key>dark</key>
				<string>237:224:212</string>
				<key>light</key>
				<string>62:47:35</string>
			</dict>
		</dict>
		<key>lineNumber</key>
		<dict>
			<key>dark</key>
			<string>85:75:65</string>
			<key>light</key>
			<string>180:165:145</string>
		</dict>
		<key>markedTextBackground</key>
		<dict>
			<key>dark</key>
			<string>55:50:42</string>
			<key>light</key>
			<string>235:225:200</string>
		</dict>
		<key>pageGuideBackground</key>
		<dict>
			<key>dark</key>
			<string>32:30:27</string>
			<key>light</key>
			<string>248:244:235</string>
		</dict>
		<key>pageGuideHairline</key>
		<dict>
			<key>dark</key>
			<string>45:42:38</string>
			<key>light</key>
			<string>225:215:200</string>
		</dict>
		<key>selectedLineBackground</key>
		<dict>
			<key>dark</key>
			<string>45:40:35</string>
			<key>light</key>
			<string>240:232:215</string>
		</dict>
		<key>selectedLinesGutterBackground</key>
		<dict>
			<key>dark</key>
			<string>22:20:18</string>
			<key>light</key>
			<string>238:230:215</string>
		</dict>
		<key>selectedLinesLineNumber</key>
		<dict>
			<key>dark</key>
			<string>200:160:120</string>
			<key>light</key>
			<string>160:120:80</string>
		</dict>
		<key>text</key>
		<dict>
			<key>dark</key>
			<string>237:224:212</string>
			<key>light</key>
			<string>62:47:35</string>
		</dict>
	</dict>
</dict>
</plist>
