<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LDETheme</key>
	<dict>
		<key>app</key>
		<dict>
			<key>appLabel</key>
			<dict>
				<key>dark</key>
				<string>220:225:235</string>
				<key>light</key>
				<string>45:50:60</string>
			</dict>
			<key>appTableCellBackground</key>
			<dict>
				<key>dark</key>
				<string>37:41:50</string>
				<key>light</key>
				<string>245:245:245</string>
			</dict>
			<key>appTableViewBackground</key>
			<dict>
				<key>dark</key>
				<string>30:33:40</string>
				<key>light</key>
				<string>250:251:253</string>
			</dict>
		</dict>
		<key>background</key>
		<dict>
			<key>dark</key>
			<string>30:33:40</string>
			<key>light</key>
			<string>255:255:255</string>
		</dict>
		<key>gutterBackground</key>
		<dict>
			<key>dark</key>
			<string>25:28:34</string>
			<key>light</key>
			<string>248:249:252</string>
		</dict>
		<key>gutterHairline</key>
		<dict>
			<key>dark</key>
			<string>45:50:60</string>
			<key>light</key>
			<string>230:232:238</string>
		</dict>
		<key>highlighting</key>
		<dict>
			<key>attribute</key>
			<dict>
				<key>dark</key>
				<string>220:180:145</string>
				<key>light</key>
				<string>180:100:20</string>
			</dict>
			<key>comment</key>
			<dict>
				<key>dark</key>
				<string>135:150:165</string>
				<key>light</key>
				<string>0:140:70</string>
			</dict>
			<key>constant</key>
			<dict>
				<key>dark</key>
				<string>175:215:240</string>
				<key>light</key>
				<string>160:30:200</string>
			</dict>
			<key>directive</key>
			<dict>
				<key>dark</key>
				<string>225:165:235</string>
				<key>light</key>
				<string>180:50:200</string>
			</dict>
			<key>function</key>
			<dict>
				<key>dark</key>
				<string>130:190:240</string>
				<key>light</key>
				<string>0:110:220</string>
			</dict>
			<key>include</key>
			<dict>
				<key>dark</key>
				<string>195:165:210</string>
				<key>light</key>
				<string>150:60:180</string>
			</dict>
			<key>keyword</key>
			<dict>
				<key>dark</key>
				<string>210:150:255</string>
				<key>light</key>
				<string>170:0:220</string>
			</dict>
			<key>method</key>
			<dict>
				<key>dark</key>
				<string>130:190:240</string>
				<key>light</key>
				<string>0:110:220</string>
			</dict>
			<key>namespace</key>
			<dict>
				<key>dark</key>
				<string>120:210:200</string>
				<key>light</key>
				<string>40:120:125</string>
			</dict>
			<key>number</key>
			<dict>
				<key>dark</key>
				<string>170:230:210</string>
				<key>light</key>
				<string>0:150:200</string>
			</dict>
			<key>operator</key>
			<dict>
				<key>dark</key>
				<string>195:200:210</string>
				<key>light</key>
				<string>200:80:0</string>
			</dict>
			<key>parameter</key>
			<dict>
				<key>dark</key>
				<string>175:185:215</string>
				<key>light</key>
				<string>140:80:180</string>
			</dict>
			<key>property</key>
			<dict>
				<key>dark</key>
				<string>145:210:245</string>
				<key>light</key>
				<string>0:100:200</string>
			</dict>
			<key>punctuation</key>
			<dict>
				<key>dark</key>
				<string>175:180:195</string>
				<key>light</key>
				<string>30:35:45</string>
			</dict>
			<key>regex</key>
			<dict>
				<key>dark</key>
				<string>230:175:125</string>
				<key>light</key>
				<string>220:100:0</string>
			</dict>
			<key>string</key>
			<dict>
				<key>dark</key>
				<string>245:145:120</string>
				<key>light</key>
				<string>220:20:20</string>
			</dict>
			<key>type</key>
			<dict>
				<key>dark</key>
				<string>110:220:210</string>
				<key>light</key>
				<string>0:140:180</string>
			</dict>
			<key>variable</key>
			<dict>
				<key>dark</key>
				<string>145:210:245</string>
				<key>light</key>
				<string>0:90:190</string>
			</dict>
		</dict>
		<key>lineNumber</key>
		<dict>
			<key>dark</key>
			<string>105:115:130</string>
			<key>light</key>
			<string>145:150:165</string>
		</dict>
		<key>markedTextBackground</key>
		<dict>
			<key>dark</key>
			<string>50:55:68</string>
			<key>light</key>
			<string>240:242:248</string>
		</dict>
		<key>pageGuideBackground</key>
		<dict>
			<key>dark</key>
			<string>32:36:43</string>
			<key>light</key>
			<string>253:254:255</string>
		</dict>
		<key>pageGuideHairline</key>
		<dict>
			<key>dark</key>
			<string>42:47:56</string>
			<key>light</key>
			<string>235:237:242</string>
		</dict>
		<key>selectedLineBackground</key>
		<dict>
			<key>dark</key>
			<string>40:45:55</string>
			<key>light</key>
			<string>242:245:252</string>
		</dict>
		<key>selectedLinesGutterBackground</key>
		<dict>
			<key>dark</key>
			<string>22:25:30</string>
			<key>light</key>
			<string>240:243:250</string>
		</dict>
		<key>selectedLinesLineNumber</key>
		<dict>
			<key>dark</key>
			<string>140:165:200</string>
			<key>light</key>
			<string>75:105:145</string>
		</dict>
		<key>text</key>
		<dict>
			<key>dark</key>
			<string>230:235:245</string>
			<key>light</key>
			<string>20:25:30</string>
		</dict>
	</dict>
</dict>
</plist>
