<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LDETheme</key>
	<dict>
		<key>app</key>
		<dict>
			<key>appLabel</key>
			<dict>
				<key>dark</key>
				<string>210:195:170</string>
				<key>light</key>
				<string>72:60:50</string>
			</dict>
			<key>appTableCellBackground</key>
			<dict>
				<key>dark</key>
				<string>45:38:32</string>
				<key>light</key>
				<string>238:225:200</string>
			</dict>
			<key>appTableViewBackground</key>
			<dict>
				<key>dark</key>
				<string>35:30:25</string>
				<key>light</key>
				<string>245:235:215</string>
			</dict>
		</dict>
		<key>background</key>
		<dict>
			<key>dark</key>
			<string>35:30:25</string>
			<key>light</key>
			<string>248:240:220</string>
		</dict>
		<key>gutterBackground</key>
		<dict>
			<key>dark</key>
			<string>30:26:22</string>
			<key>light</key>
			<string>240:230:205</string>
		</dict>
		<key>gutterHairline</key>
		<dict>
			<key>dark</key>
			<string>55:48:40</string>
			<key>light</key>
			<string>215:200:170</string>
		</dict>
		<key>highlighting</key>
		<dict>
			<key>attribute</key>
			<dict>
				<key>dark</key>
				<string>195:155:90</string>
				<key>light</key>
				<string>145:95:40</string>
			</dict>
			<key>comment</key>
			<dict>
				<key>dark</key>
				<string>120:105:85</string>
				<key>light</key>
				<string>150:135:115</string>
			</dict>
			<key>constant</key>
			<dict>
				<key>dark</key>
				<string>225:185:95</string>
				<key>light</key>
				<string>170:120:20</string>
			</dict>
			<key>directive</key>
			<dict>
				<key>dark</key>
				<string>220:180:70</string>
				<key>light</key>
				<string>180:135:20</string>
			</dict>
			<key>function</key>
			<dict>
				<key>dark</key>
				<string>110:155:210</string>
				<key>light</key>
				<string>25:65:130</string>
			</dict>
			<key>include</key>
			<dict>
				<key>dark</key>
				<string>220:180:70</string>
				<key>light</key>
				<string>180:135:20</string>
			</dict>
			<key>keyword</key>
			<dict>
				<key>dark</key>
				<string>200:95:85</string>
				<key>light</key>
				<string>140:25:25</string>
			</dict>
			<key>method</key>
			<dict>
				<key>dark</key>
				<string>110:155:210</string>
				<key>light</key>
				<string>25:65:130</string>
			</dict>
			<key>namespace</key>
			<dict>
				<key>dark</key>
				<string>175:130:200</string>
				<key>light</key>
				<string>100:50:120</string>
			</dict>
			<key>number</key>
			<dict>
				<key>dark</key>
				<string>215:165:90</string>
				<key>light</key>
				<string>160:100:40</string>
			</dict>
			<key>operator</key>
			<dict>
				<key>dark</key>
				<string>175:160:140</string>
				<key>light</key>
				<string>72:60:50</string>
			</dict>
			<key>parameter</key>
			<dict>
				<key>dark</key>
				<string>170:130:155</string>
				<key>light</key>
				<string>100:60:85</string>
			</dict>
			<key>property</key>
			<dict>
				<key>dark</key>
				<string>185:140:170</string>
				<key>light</key>
				<string>120:70:100</string>
			</dict>
			<key>punctuation</key>
			<dict>
				<key>dark</key>
				<string>155:140:120</string>
				<key>light</key>
				<string>100:85:70</string>
			</dict>
			<key>regex</key>
			<dict>
				<key>dark</key>
				<string>200:140:100</string>
				<key>light</key>
				<string>150:80:50</string>
			</dict>
			<key>string</key>
			<dict>
				<key>dark</key>
				<string>130:175:120</string>
				<key>light</key>
				<string>60:95:60</string>
			</dict>
			<key>type</key>
			<dict>
				<key>dark</key>
				<string>175:130:200</string>
				<key>light</key>
				<string>100:50:120</string>
			</dict>
			<key>variable</key>
			<dict>
				<key>dark</key>
				<string>210:195:170</string>
				<key>light</key>
				<string>55:45:35</string>
			</dict>
		</dict>
		<key>lineNumber</key>
		<dict>
			<key>dark</key>
			<string>85:75:60</string>
			<key>light</key>
			<string>180:165:140</string>
		</dict>
		<key>markedTextBackground</key>
		<dict>
			<key>dark</key>
			<string>65:55:35</string>
			<key>light</key>
			<string>255:235:180</string>
		</dict>
		<key>pageGuideBackground</key>
		<dict>
			<key>dark</key>
			<string>38:33:27</string>
			<key>light</key>
			<string>244:235:212</string>
		</dict>
		<key>pageGuideHairline</key>
		<dict>
			<key>dark</key>
			<string>50:44:36</string>
			<key>light</key>
			<string>220:205:175</string>
		</dict>
		<key>selectedLineBackground</key>
		<dict>
			<key>dark</key>
			<string>50:42:32</string>
			<key>light</key>
			<string>235:222:190</string>
		</dict>
		<key>selectedLinesGutterBackground</key>
		<dict>
			<key>dark</key>
			<string>40:35:28</string>
			<key>light</key>
			<string>232:218:185</string>
		</dict>
		<key>selectedLinesLineNumber</key>
		<dict>
			<key>dark</key>
			<string>180:140:100</string>
			<key>light</key>
			<string>140:25:25</string>
		</dict>
		<key>text</key>
		<dict>
			<key>dark</key>
			<string>210:195:170</string>
			<key>light</key>
			<string>55:45:35</string>
		</dict>
	</dict>
</dict>
</plist>
