<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LDETheme</key>
	<dict>
		<key>app</key>
		<dict>
			<key>appLabel</key>
			<dict>
				<key>dark</key>
				<string>245:240:250</string>
				<key>light</key>
				<string>70:70:85</string>
			</dict>
			<key>appTableCellBackground</key>
			<dict>
				<key>dark</key>
				<string>38:38:48</string>
				<key>light</key>
				<string>248:245:252</string>
			</dict>
			<key>appTableViewBackground</key>
			<dict>
				<key>dark</key>
				<string>28:28:35</string>
				<key>light</key>
				<string>255:252:255</string>
			</dict>
		</dict>
		<key>background</key>
		<dict>
			<key>dark</key>
			<string>28:28:35</string>
			<key>light</key>
			<string>255:252:255</string>
		</dict>
		<key>gutterBackground</key>
		<dict>
			<key>dark</key>
			<string>24:24:30</string>
			<key>light</key>
			<string>248:245:252</string>
		</dict>
		<key>gutterHairline</key>
		<dict>
			<key>dark</key>
			<string>50:50:60</string>
			<key>light</key>
			<string>220:210:230</string>
		</dict>
		<key>highlighting</key>
		<dict>
			<key>attribute</key>
			<dict>
				<key>dark</key>
				<string>200:165:220</string>
				<key>light</key>
				<string>170:130:190</string>
			</dict>
			<key>comment</key>
			<dict>
				<key>dark</key>
				<string>110:110:130</string>
				<key>light</key>
				<string>160:160:175</string>
			</dict>
			<key>constant</key>
			<dict>
				<key>dark</key>
				<string>255:255:255</string>
				<key>light</key>
				<string>255:255:255</string>
			</dict>
			<key>directive</key>
			<dict>
				<key>dark</key>
				<string>190:150:220</string>
				<key>light</key>
				<string>150:100:180</string>
			</dict>
			<key>function</key>
			<dict>
				<key>dark</key>
				<string>120:200:235</string>
				<key>light</key>
				<string>50:160:210</string>
			</dict>
			<key>include</key>
			<dict>
				<key>dark</key>
				<string>190:150:220</string>
				<key>light</key>
				<string>150:100:180</string>
			</dict>
			<key>keyword</key>
			<dict>
				<key>dark</key>
				<string>91:206:250</string>
				<key>light</key>
				<string>91:206:250</string>
			</dict>
			<key>method</key>
			<dict>
				<key>dark</key>
				<string>120:200:235</string>
				<key>light</key>
				<string>50:160:210</string>
			</dict>
			<key>namespace</key>
			<dict>
				<key>dark</key>
				<string>140:220:255</string>
				<key>light</key>
				<string>70:180:220</string>
			</dict>
			<key>number</key>
			<dict>
				<key>dark</key>
				<string>230:160:210</string>
				<key>light</key>
				<string>200:130:180</string>
			</dict>
			<key>operator</key>
			<dict>
				<key>dark</key>
				<string>200:200:220</string>
				<key>light</key>
				<string>100:100:120</string>
			</dict>
			<key>parameter</key>
			<dict>
				<key>dark</key>
				<string>230:180:205</string>
				<key>light</key>
				<string>200:140:170</string>
			</dict>
			<key>property</key>
			<dict>
				<key>dark</key>
				<string>255:180:200</string>
				<key>light</key>
				<string>220:120:150</string>
			</dict>
			<key>punctuation</key>
			<dict>
				<key>dark</key>
				<string>180:180:200</string>
				<key>light</key>
				<string>120:120:140</string>
			</dict>
			<key>regex</key>
			<dict>
				<key>dark</key>
				<string>200:170:230</string>
				<key>light</key>
				<string>180:140:210</string>
			</dict>
			<key>string</key>
			<dict>
				<key>dark</key>
				<string>245:169:184</string>
				<key>light</key>
				<string>245:169:184</string>
			</dict>
			<key>type</key>
			<dict>
				<key>dark</key>
				<string>140:220:255</string>
				<key>light</key>
				<string>70:180:220</string>
			</dict>
			<key>variable</key>
			<dict>
				<key>dark</key>
				<string>245:240:250</string>
				<key>light</key>
				<string>60:60:75</string>
			</dict>
		</dict>
		<key>lineNumber</key>
		<dict>
			<key>dark</key>
			<string>80:80:100</string>
			<key>light</key>
			<string>180:175:195</string>
		</dict>
		<key>markedTextBackground</key>
		<dict>
			<key>dark</key>
			<string>50:55:70</string>
			<key>light</key>
			<string>235:245:255</string>
		</dict>
		<key>pageGuideBackground</key>
		<dict>
			<key>dark</key>
			<string>30:30:38</string>
			<key>light</key>
			<string>252:250:255</string>
		</dict>
		<key>pageGuideHairline</key>
		<dict>
			<key>dark</key>
			<string>45:45:55</string>
			<key>light</key>
			<string>225:220:240</string>
		</dict>
		<key>selectedLineBackground</key>
		<dict>
			<key>dark</key>
			<string>45:45:58</string>
			<key>light</key>
			<string>240:235:250</string>
		</dict>
		<key>selectedLinesGutterBackground</key>
		<dict>
			<key>dark</key>
			<string>22:22:28</string>
			<key>light</key>
			<string>245:240:252</string>
		</dict>
		<key>selectedLinesLineNumber</key>
		<dict>
			<key>dark</key>
			<string>245:169:184</string>
			<key>light</key>
			<string>91:206:250</string>
		</dict>
		<key>text</key>
		<dict>
			<key>dark</key>
			<string>245:240:250</string>
			<key>light</key>
			<string>60:60:75</string>
		</dict>
	</dict>
</dict>
</plist>
