SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) KSURFACE_ENABLED KSURFACE_PROC_ENUMERATION_ENABLED KSURFACE_PROC_KILL_ENABLED KSURFACE_PROC_SPAWN_ENABLED KSURFACE_PROC_SIGN_UNSIGNED KSURFACE_SECURITY_ENTITLEMENT_ENFORCEMENT_ENABLED KSURFACE_SECURITY_TRUSTD_ENABLED KSURFACE_SECURITY_CRED_ENABLED PE_TASK_FOR_PID_FIX_ENABLED PE_POSIX_SPAWN_FIX_ENABLED PE_FORK_FIX_ENABLED PE_SYSCTL_FIX_ENABLED NXPROJECT_APP_ENABLED NXPROJECT_UTILITY_ENABLED
